body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #000000;
}

h1 {
    color: #0077b5;
}

.btn-primary {
    background-color: #0077b5;
    border-color: #0077b5;
}

.btn-primary:hover {
    background-color: #005082;
    border-color: #005082;
}

.input-group input {
    border-color: #0077b5;
}

.input-group-append button {
    background-color: #0077b5;
    border-color: #0077b5;
    color: #ffffff;
}

.input-group-append button:hover {
    background-color: #005082;
    border-color: #005082;
}

.table {
    background-color: #ffffff;
}

th, td {
    border-color: #dee2e6;
}

/* Modal Styles */
.modal-content {
    background-color: #f3f4f6;
    color: #000000;
}

.modal-header {
    background-color: #0077b5;
    color: #ffffff;
}

.modal-body {
    background-color: #f3f4f6;
}

.btn-modal-primary {
    background-color: #0077b5;
    border-color: #0077b5;
    color: #ffffff;
}

.btn-modal-primary:hover {
    background-color: #005082;
    border-color: #005082;
}

.text-modal-danger {
    color: #dc3545;
}